*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
coverage/
dist/
tmp/
temp/

$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.vagrant
.vagrant*/
.project
.settings/
dev-up/temp
dev-up/developer-config.yml
dev-up/cache
dev-up/secrets

project/
